*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Now';
    color: #fff;
}
body{
    height: 100vh;
    background-color: #101010;
    background-image: url('https://i.pinimg.com/originals/05/e6/f0/05e6f0c626d642e5bf55498c581b38be.jpg') ;
    background-size: cover;
    background-position: center;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}
a:hover{
    color: orange;
}








/* HEADER */
header{
    position: relative;
    padding: 0 2rem;
}
.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    font-size: 1.5rem;
    font-family: 'Helvetica Now Bold';
}

.navbar .links{
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn{
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-family: 'Helvetica Now Bold';
    cursor: pointer;
    transition: scale 0.2s  ease;
}

.action_btn:hover{
    scale: 1.05s;
    color: #fff;
}
.action_btn:active{
    scale: 0.95;
}

/* Logo */
a.logo {
    display: flex;
    flex-direction: row;
}
img#logo_img {
    width: 30px;
    height: 30px;
    border-radius: 25%;
    margin-right: 10px;
}

img#logo-cuenta {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
a.account {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
}
div.action_btn {
    margin-right: 10px;
}










/* DROPDOWN MENU */
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: auto;
}
.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}
/* HERO */
section#hero{
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    padding-left: 10%;
    padding-right: 10%;
}
#hero h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}










/* RESPONSIVE DESIGN */
@media(max-width: 992px){
    .navbar .links,
    .navbar .action_btn{
        display: none;
    }

    .navbar .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }
}

@media(max-width: 576px){
    .dropdown_menu{
        left: 2rem;
        /* La propiedad CSS width: unset; se utiliza para restablecer el valor de ancho (width) de un elemento a su valor original. Puede ser útil cuando un elemento ha heredado o ha sido asignado un ancho específico a través de estilos externos, pero deseas volver al valor por defecto establecido por el navegador o la configuración predeterminada del elemento. */
        width: unset;
    }
}


/* FONT */
@font-face {
    font-family: 'Helvetica Now';
    src: url('./font/helvetica_now/HelveticaNowText-Regular.woff2') format('woff2'),
       url('./font/helvetica_now/HelveticaNowText-Regular.woff') format('woff'),
       url('./font/helvetica_now/HelveticaNowText-Regular.ttf') format('truetype'),
       url('./font/helvetica_now/HelveticaNowText-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Helvetica Now Bold';
    src: url('./font/helvetica_now/HelveticaNowText-Bold.woff2') format('woff2'),
       url('./font/helvetica_now/HelveticaNowText-Bold.woff') format('woff'),
       url('./font/helvetica_now/HelveticaNowText-Bold.ttf') format('truetype'),
       url('./font/helvetica_now/HelveticaNowText-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Helvetica Now Italic';
    src: url('./font/helvetica_now/HelveticaNowText-RegIta.woff2') format('woff2'),
       url('./font/helvetica_now/HelveticaNowText-RegIta.woff') format('woff'),
       url('./font/helvetica_now/HelveticaNowText-RegIta.ttf') format('truetype'),
       url('./font/helvetica_now/HelveticaNowText-RegIta.otf') format('opentype');
}